<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item">
                <h4 class="page-title">My Profile</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/fitness/home">
                  <i class="fas fa-home"></i> Home</a
                >
              </li>

              <li class="breadcrumb-item active">My Profile</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="profile-cover" src="./assets/images/pages/cover.jpg" />
      <div class="profile-info d-flex psl-5 mb-3">
        <div class="profile-photo">
          <img src="./assets/images/pages/profile.png" />
        </div>
        <div class="profile-details psl-5 d-flex">
          <div class="profile-name">Test Test</div>
          <div class="profile-dob psl-5 psr-5">
            <p>Male</p>
            <span class="custom-span">Gender</span>
          </div>
          <div class="profile-dob psl-5 psr-5">
            <p>23-05-2000 (23 Y)</p>
            <span class="custom-span">DOB</span>
          </div>
          <div class="profile-dob psl-5 psr-5">
            <p>test@gmail.com</p>
            <span class="custom-span">Email</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
