<!-- <div class="block-header">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <ul class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item">
          <h4 class="page-title">{{ section }}</h4>
        </li>
        <li class="breadcrumb-item bcrumb-1">
          <a routerLink="/task/extract-vulnerability">
            <i class="fas fa-home"></i> Home</a
          >
        </li>
        <li class="breadcrumb-item bcrumb-2">
          <a [routerLink]="moduleUrl" onClick="return false;">{{ module }}</a>
        </li>
        <li class="breadcrumb-item active">{{ section }}</li>
      </ul>
    </div>
    <div
      class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align-self-center align-right"
      *ngIf="isBack == true"
    >
      <button
        mat-raised-button
        color="primary"
        class="btn-space"
        (click)="redirectBack()"
      >
        Back
      </button>
    </div>
  </div>
</div> -->
